<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AUS</title>
  </head>
  <body>

  <p><a href={% url 'history' %}>historical</a></p>
    <form method="POST">
      {% csrf_token %}
      <input type="text" name="lhs_value" value="{{lhs_value}}" />
      <select name="lhs">
        <option value="{{lhs}}" selected>{{lhs}}</option>
        {% for c in currencies %}
        <option value="{{c}}">{{c}}</option>
        {% endfor %}
      </select>
      =
      <input
        type="text"
        name="rhs_value"
        value="{{rhs_value | floatformat:2}}"
        readonly
      />
      <select name="rhs">
        <option value="{{rhs}}" selected>{{rhs}}</option>
        {% for c in currencies %}
        <option value="{{c}}">{{c}}</option>
        {% endfor %}
      </select>
      <button type="submit">Convert</button>
    </form>
  </body>
</html>
